HAJDENTITY_MASTER_KEY=change_me # 16 bytes represented as hex
HAJDENTITY_ADMIN_EMAIL=example@example.com
HAJDENTITY_SYSTEM_ID=YOUR_SERVER_NAME
HAJDENTITY_BASE_URL=http://localhost:3000/
HAJDENTITY_KEY3=change_me # 16 bytes represented as hex
HAJDENTITY_SECRET_KEY=change_me # 64 bytes represented as hex
HAJDENTITY_TOKEN_ENC=change_me # 32 byte key for token encryption
HAJDENTITY_SESSION_IDLE_MINUTES=43200 # 30 days idle before you get logged out
HAJDENTITY_SESSION_ABSOLUTE_DAYS=90 # 90 days before you get logged out
HAJDENTITY_NFC_SESSION_MINUTES=10 # NFC Session lifetime, basically how long it lets you do stuff after you tapped a tag
HAJDENTITY_VERIFICATION_TOKEN_EXPIRE_MINUTES=60 # Minutes before email verification expires
HAJDENTITY_MAX_IMAGE_SIZE=10 # This affects the backend but the frontend is hardcoded to 10 MB so :p

HAJDENTITY_MAIL__USERNAME=noreply@example.com
HAJDENTITY_MAIL__PASSWORD=password
HAJDENTITY_MAIL__FROM_ADDRESS=noreply@example.com
HAJDENTITY_MAIL__FROM_NAME=Hajdentity
HAJDENTITY_MAIL__PORT=465
HAJDENTITY_MAIL__SERVER=smtp.example.com
HAJDENTITY_MAIL__STARTTLS=False
HAJDENTITY_MAIL__SSL_TLS=True
HAJDENTITY_MAIL__USE_CREDS=True
HAJDENTITY_MAIL__VALIDATE_CERTS=True

HAJDENTITY_DB__DATABASE=hajdentity
HAJDENTITY_DB__USER=postgres
HAJDENTITY_DB__PASSWORD=
HAJDENTITY_DB__HOST=localhost
HAJDENTITY_DB__PORT=5432

HAJDENTITY_S3__ENDPOINT=localhost:3900
HAJDENTITY_S3__ACCESS_KEY=changeme
HAJDENTITY_S3__SECRET_KEY=changeme
HAJDENTITY_S3__BUCKET=hajdentity
HAJDENTITY_S3__SECURE=False
HAJDENTITY_S3__REGION=garage

HAJDENTITY_SHARKEY__BASE_URL=https://sharkey.example.com
HAJDENTITY_SHARKEY__ADMIN_API_TOKEN=get_from_sharkey

NUXT_PUBLIC_API_BASE="http://localhost:3000" # Set it to the frontend base url, nuxt routes /api to NUXT_API_PROXY_TARGET
NUXT_API_PROXY_TARGET="http://127.0.0.1:8000"
